body{
    background-color: #222;
    padding-top: 65px; /* make some space with fixed top navbar */
}

input.hashtag{
  text-align:left;
  box-shadow:none;
  border:none;
  border-bottom:1px dotted #555;
  max-width:90%;
  width: 100%;
  background-color: #222;
}
.heading-text{
  font-size: 35px;
  font-weight:200;
  font-family: 'Raleway', sans-serif;
  letter-spacing: -1px;
  color: #555;
}

.ajax-mask {
  background: #333;
  opacity: 0.8;
  z-index: 10000;
}
.ajax-mask .loading {
  width: 130px;
  height: 130px;
  background: #343838 url('../images/loading.gif') center center no-repeat;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: fixed; /* put loading in the center of the screen instead of document*/
  left:50%;
  margin-left:-25px;
  top:50%;
  margin-top: -25px;
  opacity: 0.6;
  -moz-opacity: 0.9;
}

#thumbnails img {
    float: left; /* remove space between images */
}
#blueimp-gallery .author {
    position: absolute;
    top: 30px;
    left: 15px;
    font-style: italic;
    font-weight: bold;
    color: #555;
    margin-top: 15px;
}
#blueimp-gallery .views {
    position: absolute;
    bottom: 8px;
    right: 60px;
    border-color: black;
    background-color: black;
    color: #fff;
}
#blueimp-gallery .vnumber {
    margin-left: 5px;
}

.spinner {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin: 20px;
}
